.tool-edit-picture{


  .editor-wrapper{
    width:100%;


    .tool-bar{
      list-style:none;

      @size:2em;
      .item-tool{
        float:left;
        width:@size;
        height:@size;
        line-height:@size;
        text-align:center;
      }
    }
  }
}