@import "../../css/common.less";
.Home{

  .autow1200;

  .tools-list{
    width:100%;
    padding:10px 3em;
    box-sizing:border-box;
    display:flex;

    @size:150/16em;
    .tool-item{
      width:@size;
      height:@size;
    }
  }
}