@import "../../css/common.less";
.Home{
  position:relative;

  .autow1200;

  .account-button{
    position:fixed;
    right:0;
    top:0;
    margin:1em 1em 0;
  }

  .tools-list{
    width:100%;
    padding:10px 1.5em;
    position:relative;
    box-sizing:border-box;
    overflow:hidden;



    .tools-list-wrap{
      margin-right:-2em;

      @media screen and (max-width:1024px){

        .tool-item{
          width:calc( 50% - 2em);
        }
      }

      @media screen and (min-width:1025px){

        .tool-item{
          width:calc( (100% / 5) - 2em);
          //width:13em;
        }
      }

      .tool-item{
        text-decoration:none;
        color:inherit;

        display:inline-block;
        margin-right:2em;
        margin-bottom:2em;
        float:left;

        .pic{
          width:100%;
          padding-bottom:100%;
          //padding-bottom:100% / (1920 / 1080);
          //padding-top:2em;
          position:relative;
          //overflow:hidden;

          img{
            position:absolute;
            padding:1em 0;
            box-sizing:content-box;
            width:100%;
            max-height:100%;
            top:0;
            left:0;
            right:0;
            bottom:0;
            margin:auto;
          }
        }

        .tool-name{
          //margin:0 0 0 50%;
          //transform:translateX(-50%);
          margin:0 0 1em 0;
          width:100%;
          text-align:center;

        }
      }
    }


  }
}